<p-dialog
  [style]="{ width: '30vw' }"
  header="{{ title }}"
  [(visible)]="display"
  (onHide)="hideDialog(addForm)"
>
  <form #addForm="ngForm" (ngSubmit)="onAddPerson(addForm)">
    <br />
    <label for="name">Name</label><br />
    <input
      disabled="{{ readonlyValue }}"
      required
      type="text"
      pInputText
      class="p-inputtext-sm"
      id="name"
      ngModel
      name="name"
      placeholder="{{ personDataProp?.name }}"
    />
    <br /><br />
    <label for="name">Surename</label><br />
    <input
      required
      disabled="{{ readonlyValue }}"
      type="text"
      pInputText
      class="p-inputtext-sm"
      id="surename"
      ngModel
      name="surename"
      placeholder="{{ personDataProp?.surename }}"
    /><br /><br />
    <label for="name">Birth date</label><br />
    <input
      required
      disabled="{{ readonlyValue }}"
      type="{{ dateType }}"
      pInputText
      class="p-inputtext-sm"
      id="birthDate"
      ngModel
      name="dob"
      (input)="getInputDob($event)"
      placeholder="{{ personDataProp?.dob }}"
    /><br /><br />
    <label for="name">Telephone number</label><br />
    <input
      required
      disabled="{{ readonlyValue }}"
      type="number"
      pInputText
      class="p-inputtext-sm"
      id="telephoneNumber"
      ngModel
      name="phone"
      (input)="getInputNumber($event)"
      placeholder="{{ personDataProp?.phone }}"
    /><br /><br />
    <label for="name">Email</label><br />
    <input
      required
      disabled="{{ readonlyValue }}"
      type="email"
      pInputText
      class="p-inputtext-sm"
      id="email"
      ngModel
      name="email"
      (input)="getInputEmail($event)"
      placeholder="{{ personDataProp?.email }}"
    /><br /><br />
    <br />

    <button
      [disabled]="addForm.form.invalid"
      pButton
      type="submit"
      (click)="hideDialog(addForm)"
      style="display:{{ btnDisplay }}"
    >
      Add
    </button>
    <!--
    <button
      pButton
      type="button"
      (click)="checkData(addForm)"
      style="display:{{ btnDisplay }}"
    >
      save
    </button>-->
  </form>
</p-dialog>
